body {
  font-family: sans-serif;
  text-align: center;
  background: #222;
  color: white;
}

#bars {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 300px;
  margin-top: 50px;
}

.bar{
  width: 20px;
  background-color: chartreuse;
  margin-left: 1rem;
  margin-right: 1rem;
}
